{% load static %}

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Test blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/pag.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_create.css' %}">
    <link rel="stylesheet" href="{% static 'css/stepik_post_answer.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
</head>
<body>

<div class="page-header mt-0 rounded-0">
    <nav class="navbar rounded-0">
        <div class="logo">Karadev House</div>
        <div class="search-container" id="id_search-container">
            <form action="{% url 'global_search' %}" method="get">
                <input id="search_text_id" type="search" name="q" class="search_text" value="{{ query }}" placeholder="Поиск..." />
                <button type="submit" class="search_btn" id="search_id">🔍</button>
            </form>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'cards' %}"><i class="fa-solid fa-house"></i> ГЛАВНАЯ</a></li>
            <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> ВЫЙТИ</a></li>
        </ul>
    </nav>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/stepik_search_py.js' %}"></script>
<script src="{% static 'js/stepik_search_js.js' %}"></script>
</body>
</html>