{% extends 'global/base.html' %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">HOME</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">ОБСУЖДЕНИЕ</h3>
                    <p class="card-text fs-5">ТУТ ТЫ НАЙДЕШЬ ОТВЕТ НА СВОЙ СУПЕР ЖИЗНЕННЫЙ ВОПРОС!!!!11!!1!!!!!</p>
                    <div class="d-flex gap-2">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'post_new' %}" class="btn btn-primary btn-md">Скажи о себе всем!</a>
                        {% endif %}
                        <a href="{% url 'teleport_blog' %}" class="btn btn-primary btn-md">Go!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">ОТВЕТЫ ПО КУРСАМ ОТ СТЕПИК</h3>
                    <p class="card-text fs-5">А ТУТ ТУПОЙ ШКОЛЬНИК СМОЖЕТ НАЙТИ РЕШЕНИЕ ЗАДАЧ1!!!!!111!11!!!</p>
                    <div class="d-flex gap-2">
                        <a href="{% url 'teleport_stepik' %}" class="btn btn-primary btn-md">Go!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}