{% extends 'global/base.html' %}

{% block content %}
<div class="container container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'cards' %}">HOME</a></li>
            <li class="breadcrumb-item active" aria-current="page">BLOG</li>
        </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-12 col-md-20" id="post-container">
            {% include 'blog/post_list.html' %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-20">
            <div class="step-links" id="blog-pagination-links">
                {% include 'blog/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}