{% extends 'blog/base.html' %}


{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cards' %}">HOME</a></li>
        <li class="breadcrumb-item active" aria-current="page">BLOG</li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div id="post-container">
            {% include 'blog/post_list.html' %}
        </div>
        <div class="step-links" id="blog-pagination-links">
            {% include 'blog/pagination.html' %}
        </div>
        {% endblock %}
    </div>
</div>


