{% extends 'global/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Создай свое второе я!</h2>

                    <form method="POST" class="reg-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-sm">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}