{% extends 'global/base.html' %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'cards' %}">HOME</a></li>
            <li class="breadcrumb-item active" aria-current="page">STEPIK</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">PYTHON</h3>
                    <p class="card-text fs-5">А ТУТ ТУПОЙ ШКОЛЬНИК СМОЖЕТ НАЙТИ РЕШЕНИЕ ЗАДАЧИ ПО КУРСУ PYTHON</p>
                    <div class="d-flex gap-2">
                        {% if user %}
                            <a href="{% url 'py_update_tasks' %}" class="btn btn-primary btn-md">Обновить таски</a>
                        {% endif %}
                        <a href="{% url 'py_task_list' %}" class="btn btn-primary btn-md">Go!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">JAVASCRIPT</h3>
                    <p class="card-text fs-5">А ТУТ ТУПОЙ ШКОЛЬНИК СМОЖЕТ НАЙТИ РЕШЕНИЕ ЗАДАЧИ ПО КУРСУ JS</p>
                    <div class="d-flex gap-2">
                        {% if user %}
                            <a href="{% url 'js_update_tasks' %}" class="btn btn-primary btn-md">Обновить таски</a>
                        {% endif %}
                        <a href="{% url 'js_task_list' %}" class="btn btn-primary btn-md">Go!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}