{% extends 'blog/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards' %}">HOME</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teleport_stepik' %}">STEPIK</a></li>
      <li class="breadcrumb-item active" aria-current="page">JAVASCRIPT</li>
    </ol>
  </nav>
    {% for task in tasks %}
        <div class="task">
            <div class="date">
                {{ task.published_date }}
            </div>
            <h1><a href="{% url 'js_task_detail' pk=task.pk %}">{{ task.title }}</a></h1>
            <p>{{ task.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}