{% extends 'blog/base.html' %}

{% block content %}
<!-- -->
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards' %}">HOME</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teleport_stepik' %}">STEPIK</a></li>
      <li class="breadcrumb-item active" aria-current="page">PYTHON</li>
    </ol>
  </nav>
    {% for task in tasks %}
        <div class="task">
            <div class="date">
                {{ task.published_date }}
            </div>
            <h1><a href="{% url 'py_task_detail' pk=task.pk %}">{{ task.title }}</a></h1>
            <p>{{ task.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

<div>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}