{% extends 'blog/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards' %}">HOME</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teleport_stepik' %}">STEPIK</a></li>
      <li class="breadcrumb-item active" aria-current="page">PYTHON</li>
    </ol>
  </nav>

<div id="stepik-post-container">
    {% include 'stepik/py/py_task_list.html' %}
</div>

<div class="py-step-links" id="stepik-pagination-links-py">
    {% include 'stepik/py/paginator.html' %}
</div>
{% endblock %}